# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.venv/
ENV/
.env
*.db

# Node
node_modules/
.vite/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# PyInstaller build
dist/
build/
*.spec.bak
*.exe

# Frontend build (копируется в backend/static)
frontend/dist/
backend/static/
